*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
    background:rgb(248,248,248);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav */
.nav{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    height: auto;
    align-items: center;
    background: white;
}
.nav .logo{
    width: 70%;
}
.nav input{
    width: 500px;
    height: 20px;
border: none;
outline: none;
background-color: rgb(241,244,246);
padding-left: 15px;
border-radius: 5px;
}
.nav .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70vh;
}
.input-form{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-form input{
    width: 90%;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(232,232,232);
    padding: 5px;
}
.btn{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.btn button{
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: none;
}
a{
    position: relative;
    margin-left: 15px;
}
hr{
    width: 93%;
    margin: auto;
}